
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  /* background-color: #c2c2c2; */
   /* Adjust as needed */
  height: 60px;
}

.logo {
  flex: 1;
}

.navButtons {
  display: flex;
  justify-content: center;
  flex: 2;
  
}

.navButton {
  color: rgb(209, 88, 189) !important;
  margin: 0 10px;
  text-transform: none;
  font-size: 100px;
}
