.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(159, 136, 136, 0.5);
  color: rgb(126, 70, 70);
  z-index: 10;
}

.navButtons {
  display: flex;
  justify-content: flex-end;
}

buttonLink{
  text-decoration: none;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #ddd;
}
